.teamWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 0px;
}
.teamMember {
  width: 152px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 0px;
}
.teamImage {
  height: 200px;
  background-color: #e4e4e4;
}
.teamName {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.1px;
  text-align: center;
  color: #0f174f;
  padding-top: 16px;
}
.teamTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: center;
  color: #586572;
}
.desktopImg {
  display: none;
}

@media (min-width: 700px) {
  .teamWrapper {
    padding: 64px 152px;
  }
  .teamMember {
    width: 260px;
    padding: 48px 0px;
  }
  .teamImage {
    height: 320px;
  }
  .mobile-img {
    display: none;
  }
  .desktopImg {
    height: 784px;
    display: inherit;
  }
  .desktopBlock {
    width: 504px;
    display: flex;
    flex-direction: column;
  }
  .whiteTitle{
    width: 1128px;
    text-align: left;
  }
  .header-paragraph{
    width: 1128px;
    text-align: left;
  }
}
