.blackSquare {
  width: 375px;
  height: 200px;
  background-color: #000000;
  margin-top: 40px;
}

#readMore {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-align: left;
  color: #ff0042;
  text-decoration: none;
  padding-left: 32px;
}

.navigateButtonContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.navigateButton {
  width: 152px;
  height: 56px;
  border-radius: 28px;
  background-color: #0f174f;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.catagoriesWrapper {
  display: none;
}
.catagoriesContent {
  display: none;
}

@media (min-width: 700px) {
  .navigateButtonContainer {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    padding-left: 60px;
  }
  .blogPostWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blogPost {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 0px 64px;
  }
  .blackSquare {
    width: 360px;
    height: 200px;
    background-color: #0f174f;
  }
  .mobile-title-left {
    font-size: 32px;
    padding: 0px;
  }
  .mobile-gray-text {
    font-size: 16px;
    padding: 0px;
  }
  #readMore {
    padding: 0px;
  }
  .catagoriesWrapper {
    position: absolute;
    top: 550px;
    right: 100px;
    display: inherit;
    width: 368px;
    height: 920px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .catagoriesContent {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0px 32px;
  }

}
