/* header */

header{
    height: 64px;
    width: 100%;
    background-color: #0F174F;
    color: white;
}

.inner-header{
    border: solid white 1px;
    height: 40px;
    /* width: 329px; */
    width: 84%;
    position: absolute;
    top: 24px;
    left: 50%; transform: translate(-50%, 0px);
    display: flex;
    justify-content: space-between;
}

.header-logo{
    border: solid white 1px;
    height: 40px;
    width: 111.5px;
}

.header-connect-button{
    position: relative;
    height: 40px;
    width: 184px;
    background-color: #FF0042;
    color: white;
    border-radius: 30px;
    border: none;
    
}

.header-button-logo{
    position: absolute;
    border: solid white 1px;
    height: 16px;
    width: 24px;
    top: 12px;
    left: 16px;
    bottom: 12px;
}

.header-button-text{
    position: absolute;
    /* border: solid white 1px; */
    height: 20px;
    width: 120px;
    left: 48px;
    top: 10px;
    color: white;
    font-size: 15px;
    /* font-family: 'Montserrat', sans-serif; */
}





/* footer */

/* red button */
.mobile-red-button{
    width: 313px;
    height: 56px;
    border-radius: 28px;
    background-color: #ff0042;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.desktop-red-button{
    
}

/* blue headline */

.mobile-title-left{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: -0.3px;
    text-align: left;
    color: #0f174f;
    padding: 0px 32px;
}

.mobile-title-center{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: -0.3px;
    text-align: center;
    color: #0f174f;
    padding: 0px 32px;
}

/* gray text */

.mobile-gray-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14.62px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    text-align: left;
    color: #6c6d7b;
}

/* layout stuff */

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .whiteSpace16 {
    width: 100%;
    height: 16px;
    color: #ffffff;
  }
  .whiteSpace32 {
    width: 100%;
    height: 32px;
    color: #ffffff;
  }
  .whiteSpace48 {
    width: 100%;
    height: 48px;
    color: #ffffff;
  }
  .whiteSpace64 {
    width: 100%;
    height: 64px;
    color: #ffffff;
  }
/* layout stuff */