.header-wrapper-index{
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 32px;
  /* position: absolute; */
  background-image: url(./assets/images/home1.png);
  background-size: cover;
  background-position: center;
  height: 342px;
}

.whiteTitleIndex {
  height: 99px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 64px 12px 8px 12px;
}

.indexSmallTitle{
  width: 375px;
  height: 17px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
}

.indexHeaderCenter{
  /* width: 87%; */
  width: 328px;
  height: 593px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  /* margin: 0px 23px 0px 23px; */
}

.indexHeaderCenter div{
    padding-top: 24px;
  margin: auto;
  /* border: solid red 1px; */
  width: 280px;
}

.indexHeaderCenter img{
    width: auto;
    height: auto;
    max-width: 280px;
    border-radius: 5px;
    /* margin: 24px 24px 16px 24px; */
    margin: auto;
}

.mobile-title-left {
    font-family: "Montserrat", sans-serif;
    width: 272px;
  height: 64px;
  /* font-family: Gelion; */
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: -0.3px;
  text-align: left;
  color: #0f174f;
  }

  .indexRedTitle{
    width: 328px;
    height: 13px;
    font-family: Gelion;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.83;
    letter-spacing: 1px;
    text-align: center;
    color: #ff0042;
  }


