@media (min-width: 700px) {
  .partnersDesktopContent {
    width: 65vw;
  }
  .partnerDesktopTitle {
    font-stretch: normal;
    line-height: 0.91;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    padding: 64px 46px 16px 248px;
    
  }
  .mobile-gray-text {
    width: 100%;
    padding-bottom: 300px;
    padding-left: 248px;
  }
}
