
.why-body{
    height: 3768px;
}

.why-lower-header{
    height: 192px;
    width: 100%;
    background-color: #0F174F;
}

.why-headline{
    position: absolute;
    height: 40px;
    width: 329px;
    top: 128px;
    left: 50%; transform: translate(-50%, 0px);
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.why-headline h1{
    color: white;
    font-size: 33px;
}

.why-paragraph{
    position: absolute;
    top: 176px;
    left: 50%; transform: translate(-50%, 0px);
    height: 48px;
    width: 272px;
    color: #7B83B9;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
}

.why-second h1{
    position: absolute;
    top: 288px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 112px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#fix{
    font-size: 30px;
}

.why-second p{
    position: absolute;
    top: 416px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 200px;
}

.why-second img{
    position: absolute;
    border: solid black 1px;
    top: 664px;
    width: 375px;
    height: 248px;
    left: 50%; transform: translate(-50%, 0px);
}

.why-third h1{
    position: absolute;
    top: 944px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.why-third p{
    position: absolute;
    top: 1032px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 344px;
}

.why-third button{
    position: absolute;
    top: 1408px;
    left: 50%; transform: translate(-50%, 0px);
}

.why-third img{
    position: absolute;
    border: solid black 1px;
    top: 1528px;
    width: 375px;
    height: 248px;
    left: 50%; transform: translate(-50%, 0px);
}


.why-fourth h1{
    position: absolute;
    top: 1808px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 112px;
}

.why-fourth p{
    position: absolute;
    top: 1936px;
    left: 50%; transform: translate(-50%, 0px);
    width: 312px;
    height: 256px;
}

.why-fourth button{
    position: absolute;
    top: 2224px;
    left: 31px;
    left: 50%; transform: translate(-50%, 0px);
}


.why-fifth h1{
    position: absolute;
    top: 2344px;
    left: 50%; transform: translate(-50%, 0px);    width: 312px;
    height: 72px;
}

.why-fifth p{
    position: absolute;
    top: 2432px;
    left: 50%; transform: translate(-50%, 0px);    width: 312px;
    height: 168;
}






