/* font family */


.why-body{
    height: 3768px;
}

.why-lower-header{
    height: 192px;
    width: 100%;
    background-color: #0F174F;
}

.why-headline{
    position: absolute;
    height: 40px;
    width: 329px;
    border: solid red 1px;
    top: 128px;
    left: 23px;
    right: 23px;
    display: flex;
    justify-content: center;
}


.why-headline h1{
    color: white;
    font-size: 33px;
}

.why-paragraph{
    position: absolute;
    top: 176px;
    border: solid white 1px;
    height: 48px;
    width: 272px;
    color: #7B83B9;
    font-size: 14px;
    font-family: Open Sans, Regular;
    right: 48px;
    left: 55px;
}

.why-second h1{
    position: absolute;
    /* border: solid black 1px; */
    top: 288px;
    left: 32px;
    width: 312px;
    height: 112px;
}

.why-second p{
    position: absolute;
    /* border: solid black 1px; */
    top: 416px;
    left: 32px;
    width: 312px;
    height: 200px;
    /* font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    text-align: left;
    color: #6c6d7b; */

}

.why-second img{
    position: absolute;
    border: solid black 1px;
    top: 664px;
    width: 375px;
    height: 248px;

}

.why-third h1{
    position: absolute;
    /* border: solid black 1px; */
    top: 944px;
    left: 32px;
    width: 312px;
    height: 72px;
}

.why-third p{
    position: absolute;
    /* border: solid black 1px; */
    top: 1032px;
    left: 32px;
    width: 312px;
    height: 344px;
}

.why-third button{
    position: absolute;
    top: 1408px;
    left: 31px;
}

.why-third img{
    position: absolute;
    border: solid black 1px;
    top: 1528px;
    width: 375px;
    height: 248px;

}




.why-fourth h1{
    position: absolute;
    /* border: solid black 1px; */
    top: 1808px;
    left: 32px;
    width: 312px;
    height: 112px;
}

.why-fourth p{
    position: absolute;
    /* border: solid black 1px; */
    top: 1936px;
    left: 32px;
    width: 312px;
    height: 256px;
}

.why-fourth button{
    position: absolute;
    top: 2224px;
    left: 31px;
}


.why-fifth h1{
    position: absolute;
    /* border: solid black 1px; */
    top: 2344px;
    left: 32px;
    width: 312px;
    height: 72px;
}

.why-fifth p{
    position: absolute;
    /* border: solid black 1px; */
    top: 2432px;
    left: 32px;
    width: 312px;
    height: 168;
}






