.reviews {
  display: flex;
  justify-content: space-around;
}
.ratingIcon {
  width: 110px;
  height: 86.6px;
}
.message {
  width: 100vw;
  background-image: linear-gradient(218deg, #0f174f, #030510);
  padding-top: 32px;
  padding-bottom: 32px;
}
.messageTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  padding: 0px 32px;
}
.messageParagraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0px 32px;
}

@media (min-width: 700px){
  .whyDesktopTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    /* line-height: 1.7; */
    /* height: 490px; */
  }
  
  .whyDesktopTitleWrapper{
    width: 60%;
  }


  .whyBottomContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .whyBottomContentWrapper{
    width: 60vw;
  }

  .ratingsBottom{
    /* border: solid black 1px; */
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .ratingsBottomWrapper{
    /* border: solid black 1px; */
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }



  .content{
    /* border: solid red 2px; */
    /* height: 100px; */
    display: flex;
  }

  .content img{
    width: 50vw;
    height: 100%;
  }

  

  .contentBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 90px;
  }

  .mobileRedButton{
    width: 28vw;
  }
}

@media(max-width: 700px){
  .desktop{
    display:none;
  }
}
